/* Fuentes*/
    /*futura*/
    @font-face {
        font-family: Futura;
        src: url(futura.ttf);
    }


/*Custom Navbar*/
.navbar {
    background-color: crimson;
    text-align: center;
    font-family: Futura;
    font-size: 300%;
     
}

.navbar a{
    color:black;
}

.navbar ul{
    list-style-type: none;
    display: inline-flex;
}

.navbar ul li{
margin: auto;
padding: 30px;
}