<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}

  <div class="mb-3">
    <label for="" class="form-label">{{ campo.label }}</label>
    <!--Si es un tipo de archivo se debe mostrar en el edit -->
    {% if campo.field.widget.input_type == 'file' and campo.value %} 
    <img src="{{MEDIA_URL}}/imagenes/{{campo.value}}" width="128" height="128">
    {% endif %}
    <input type="{{ campo.field.widget.input_type}}"  #
      class="form-control" 
      name="{{ campo.name }}"   #
      id="" 
      aria-describedby="helpId"
      placeholder="{{ campo.label }}"  #Mostrar el nombre del campo
      value="{{ campo.value | default:'' }}" #Mostrar los datos ya establecidos
      >
  </div>

  <div class="col-12 help-text"> {{campo.errors}}</div>
 {% endfor %}
<br>
 <input name="" id="" class="btn btn-success" type="submit" value="Enviar información">
 <a name="" id="" class="btn btn-danger" href="{% url 'productos' %}" role="button">Cancelar</a>
</form>