{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerda de</title>
    <link rel="shortcut icon" href="{% static 'media/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="headeraboutus">
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'acerca-de' %}">Acerca de</a>
            <a href="{% url 'productos' %}">Productos</a>
            <a href="{% url 'artistas' %}">Artistas</a>
            <a href="{% url 'contacto' %}">Contacto</a>
            {% if user.is_authenticated %}
            <a href="salir/" class="logged-in">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'login' %}" class="logged-out">Ingresar</a>
        {% endif %}
    </nav>
        </nav>
        <section class="textos-header">
            <h1>Sobre nosotros.</h1>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>

    <main>
        <section class="contenedor sobre-nosotros">
            <div class="contenedor-sobre-nosotros">
                <img src="{% static 'media/acerca-de.jpg' %}" alt="Acerca de nosotros" height="400">
                <div class="contenido-textos">
                    <h1>Sobre Ground Zero</h1>
                    <p>Ground Zero nace luego de observar
                    la poca atención que se le dá al arte en general en Chile.
                    <br>
                    Con la intención de sacar a flote los talentos creativos ocultos
                    al público y también dar una oportunidad de trabajo al artista en general
                    Ground Zero tomó la iniciativa de crear una plataforma para la venta de 
                    productos artísticos.
                    </p>
                    </div>


            </div>
        </section>

    </main>


</body>
</html>