{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="shortcut icon" href="{% static 'media/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'acerca-de' %}">Acerca de</a>
            <a href="{% url 'productos' %}">Productos</a>
            <a href="{% url 'artistas' %}">Artistas</a>
            <a href="{% url 'contacto' %}">Contacto</a>
        </nav>
    </header>


</body>
</html>