{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="shortcut icon" href="{% static 'media/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">
</head>

<body class="bodycontacto ">
    <header>
        <nav>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'acerca-de' %}">Acerca de</a>
            <a href="{% url 'productos' %}">Productos</a>
            <a href="{% url 'artistas' %}">Artistas</a>
            <a href="{% url 'contacto' %}">Contacto</a>
            {% if user.is_authenticated %}
                <a href="salir/" class="logged-in">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'login' %}" class="logged-out">Ingresar</a>
            {% endif %}
        </nav>
    </header>

    <main>
        <section class="contenedor sobre-nosotros">
            <div class="contenedor-sobre-nosotros">
                <img src="{% static 'media/constru.jpg' %}" alt="Acerca de nosotros" >
                <div class="contenido-textos">
                    <h1>En proceso...</h1>
                    <p>Esta sección está en proceso, así que le rogamos su paciencia y le recomendamos que vuelva mas tarde...
                    </p>
                    </div>


            </div>
        </section>

            
    </main>

</body>
</html>